<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button shape="round" fill="clear"routerLink="/navbar">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="white"class="form">
    <ion-icon color="tertiary"class="icon"position="floating" name="person-circle-outline"></ion-icon>
  <ion-item>
    <ion-title color="medium"class="titulo">Iniciar Sesion</ion-title>
  </ion-item>
  <ion-item>
    <ion-label color="tertiary" position="floating">Nombre</ion-label>
    <ion-input  placeholder="Enter text"></ion-input>
  </ion-item>
  
  <ion-item  fill="solid">
    <ion-label color="tertiary" position="floating">Apellido</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  
  <ion-item  fill="solid">
    <ion-label color="tertiary"position="floating">Contraseña</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <ion-button class="iniciar"shape="round" color="dark" fill="clear">Iniciar</ion-button>
</ion-content>
