<ion-header></ion-header>
<ion-content>
<ion-slides>
  <ion-slide>
    <div class="background-container">
    </div>
  </ion-slide>
  <ion-slide>
     <div class="slide1">
      
    </div>
  </ion-slide>
  <ion-slide class="slide2">
  </ion-slide>

  <ion-slide class="slide3">
  </ion-slide>

  <ion-slide>
    <div class="background-container"> 
      <div class="button">
        <ion-button routerLink="/navbar">
          Iniciar
        </ion-button>
      </div>
  </div>
  </ion-slide>
</ion-slides>
</ion-content>



