<ion-header>
  <ion-toolbar>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="secondary"><!--Acá se guarda el boton desplegable-->
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content > <!--Acá se guarda todo el contenido-->
  <ion-menu contentId="main-content" class="main-content" ><!--Acá se guarda el menu desplegable-->
    <ion-header > <!--Acá se muestra el buscador, cuenta y mensajes-->
      <ion-toolbar class="menu-arriba">
        <ion-input placeholder="Buscar" class="custom"><ion-icon name="search-circle-outline"></ion-icon></ion-input> <!--el buscador-->
      </ion-toolbar>
  
    </ion-header>

    <ion-content class="ion-padding"> <!--Acá se guardan los botones que llevan a cada página-->
      <ion-item routerLink="/noticias">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Noticias</ion-label>
      </ion-item>

      <ion-item routerLink="/shops">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Shops</ion-label>
      </ion-item>

      <ion-item routerLink="/medio-ambiente">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Medio ambiente</ion-label>
      </ion-item>

      <ion-item routerLink="/eventos">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Eventos</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="home-outline" style="color: white;"></ion-icon>
        <ion-label>Mensajes</ion-label>
        

      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


  
</ion-content>
